<h1>Listing track_order_changes</h1>

<table>
  <tr>
    <th>Orig track order change</th>
    <th>Client org</th>
    <th>Client facility identifier</th>
    <th>Orderable</th>
    <th>Change type cd</th>
    <th>Active ind</th>
    <th>Begin at</th>
    <th>End at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @track_order_changes.each do |track_order_change| %>
  <tr>
    <td><%= track_order_change.orig_track_order_change_id %></td>
    <td><%= track_order_change.client_org_id %></td>
    <td><%= track_order_change.client_facility_identifier %></td>
    <td><%= track_order_change.orderable_id %></td>
    <td><%= track_order_change.change_type_cd %></td>
    <td><%= track_order_change.active_ind %></td>
    <td><%= track_order_change.begin_at %></td>
    <td><%= track_order_change.end_at %></td>
    <td><%= link_to 'Show', track_order_change %></td>
    <td><%= link_to 'Edit', edit_track_order_change_path(track_order_change) %></td>
    <td><%= link_to 'Destroy', track_order_change, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Track order change', new_track_order_change_path %>
