<%= form_for(@partner_org_component) do |f| %>
  <% if @partner_org_component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partner_org_component.errors.count, "error") %> prohibited this partner_org_component from being saved:</h2>

      <ul>
      <% @partner_org_component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :orig_partner_org_component_id %><br />
    <%= f.number_field :orig_partner_org_component_id %>
  </div>
  <div class="field">
    <%= f.label :partner_org_id %><br />
    <%= f.number_field :partner_org_id %>
  </div>
  <div class="field">
    <%= f.label :component_type_cd %><br />
    <%= f.number_field :component_type_cd %>
  </div>
  <div class="field">
    <%= f.label :display %><br />
    <%= f.text_field :display %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :standard_component_id %><br />
    <%= f.number_field :standard_component_id %>
  </div>
  <div class="field">
    <%= f.label :active_ind %><br />
    <%= f.number_field :active_ind %>
  </div>
  <div class="field">
    <%= f.label :begin_at %><br />
    <%= f.datetime_select :begin_at %>
  </div>
  <div class="field">
    <%= f.label :end_at %><br />
    <%= f.datetime_select :end_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
