<h1>Listing assays</h1>

<table>
  <tr>
    <th>Orig assay</th>
    <th>Partner org</th>
    <th>Alias</th>
    <th>Display</th>
    <th>Description</th>
    <th>Active ind</th>
    <th>Begin at</th>
    <th>End at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assays.each do |assay| %>
  <tr>
    <td><%= assay.orig_assay_id %></td>
    <td><%= assay.partner_org_id %></td>
    <td><%= assay.alias %></td>
    <td><%= assay.display %></td>
    <td><%= assay.description %></td>
    <td><%= assay.active_ind %></td>
    <td><%= assay.begin_at %></td>
    <td><%= assay.end_at %></td>
    <td><%= link_to 'Show', assay %></td>
    <td><%= link_to 'Edit', edit_assay_path(assay) %></td>
    <td><%= link_to 'Destroy', assay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assay', new_assay_path %>
